{% extends 'core/base.html' %}

{% block content %}

<div class="box-element">
    <h1 id="tl_carrito">Carrito de Compras</h1>
</div>
{% if productos_en_carrito %}
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos_en_carrito %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>${{ item.precio }}</td>
                <td>
                    <form method="post" action="{% url 'Eliminar_del_carrito' item.producto.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="btn_del">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total a Pagar: ${{ total }}</h3>
    <form method="post" action="{% url 'Confirmar_pedido' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirmar Pedido</button>
    </form>
    <a class='btn btn-outline-dark' id="btn-volver" href="{% url 'Catalogo_productos' %}">Volver al catálogo</a>
{% else %}
    <p id="vacio">No hay productos en el carrito.</p>
    <a class='btn btn-outline-dark' id="btn-volver" href="{% url 'Catalogo_productos' %}">Volver al catálogo</a>
{% endif %}
{% endblock %}